<!-- Main Content -->
<div class="container">

    <div class="row">
        <div lass="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <a ui-sref='blogs_add'>Add New blog</a>

            <p class="error"> {{error}}</p>
        </div>
    </div>

    <div class="search"> 
        <h1>Search Parameters</h1>
        <br/>
        <label>Any: <input ng-model="search.subject"></label> <br>       
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" ng-repeat="blog in blogs | filter:search ">
                <a ui-sref="blogs_info({blogId:blog._id})">
                    <h2 class="post-title">
                       {{blog.subject}}
                    </h2>                        
                </a>
                <p class="post-meta">Posted by <a href="#">{{blog.user.username}} - {{blog.user.email}}</a> {{blog.created_date || date}}</p>
                <hr>

                <button type="submit" ng-click="delete(blog)">Delete</button>


            </div>
        </div>
    </div>
</div>