<div>
	<form name="add_blog">
	    <table>          
		    <tr>
		    	<td><h3>Subject</h3></td>
		        <td>
		            <input type="text" required placeholder="Add subject for the blog" ng-model="blog.subject" size="100"/>
		        </td>
		        <td></td>
		    </tr>
		    <tr>
		    	<td><h3>Description / Content  &nbsp;  </h3></td>
		        <td>
		            <textarea rows="4" cols="50" required ng-model="blog.description" placeholder="add Description"></textarea>
		        </td>
		        <td></td>
		    </tr>	    

		    <tr class="error">
		    	<td>{{error}}</td>
		    </tr>

		    <tr></tr>

		    <tr>
		        <td>
		            <button  ng-disabled="add_blog.$invalid"  ng-click="add(blog)">Add</button>
		            <button type="button" ng-click="reset(blog)">Reset</button>               
		        </td>
		    </tr>
		    
		</table>
	</form>
</div>