   <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="post-preview" ng-repeat="blog in blogs">
                    <a ui-sref="blogs_info({blogId:blog._id})">
                        <h2 class="post-title">
                           {{blog.subject}}
                        </h2>                        
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{blog.user.username}} - {{blog.user.email}}</a> {{blog.created_date || date}}</p>
                    
                    <h3>{{blog.status}}</h3>
                    <hr>

                </div>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>